<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <script src=" https://unpkg.com/vue"></script>

    <title></title>
  </head>
  <body>
    <div id="vue-app">
      <h1 v-if="!ended" :class="{ended}">PUNCH!</h1>
      <h1 v-else >GAME OVER</h1>
      <!--bag-->
      <div id="bag" :class="{ended}">
      </div>
      <!--bag health-->
      <div id="bag-health" >
        <div v-bind:style="{width: health + '%'}"></div>
      </div>
      <!--button-->
      <div id="control">
        <button v-on:click="punch" v-if="!ended">PUNCH</button>
        <button v-on:click="restart">RESTART</button>
      </div>
    </div>

    <script src="app.js"></script>

  </body>
</html>
