
#bag{
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url('./img/bag.png') center no-repeat;
    background-size: 80%
}

#bag.ended{
  background: url('./img/bag-burst.png')  center no-repeat;
  background-size: 80%
}

#bag-health{

  width: 300px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid;
}

#bag-health div{
  width: 100%;
  height: 30px;
  background-color: red;
}

h1{

  text-align: center;
}

#control{
  width: 150px;
  margin: 0 auto;
}
