<template lang="html">
  <div class="">

    <sui-segment raised id="eachpost">
      <a class="ui red left corner label" id="heart">
        <i class="heart icon"></i>
      </a>
      <br>
      <h2 class="ui header" id="nickname">
        <img src="http://semantic-ui.com/images/avatar2/large/patrick.png" class="ui circular image">
        Patrick
      </h2>
      <br>
      <div class="content">
        나는 [디알못] 탈출했다.
      </div>
      <div class="ui divider"></div>
      <i class="heart icon"></i>200 &nbsp
      <i class="comment outline icon"></i>999 &nbsp

    <sui-button @click.native="toggle">More</sui-button>
    <sui-modal v-model="open">

      <sui-modal-header>
        <h2 class="ui header" id="nickname">
          <img src="http://semantic-ui.com/images/avatar2/large/patrick.png" class="ui circular image">
          Patrick
        </h2>
      </sui-modal-header>

      <sui-modal-content scrolling image>
        <sui-modal-description>
          <p id="modalcontent"> 나는 [디알못]을 탈출하였다.</p>
        </sui-modal-description>
      </sui-modal-content>
      <sui-modal-content scrolling image>
        <sui-modal-description>
          <sui-comment-group>
            <sui-comment-group>
              <h3 is="sui-header" dividing>Comments</h3>

  <sui-comment>
    <sui-comment-avatar src="http://semantic-ui.com/images/avatar/small/matt.jpg" />
    <sui-comment-content>
      <a is="sui-comment-author">Matt</a>
      <sui-comment-metadata>
        <div>Today at 5:42PM</div>
      </sui-comment-metadata>
      <sui-comment-text>How artistic!</sui-comment-text>
      <sui-comment-actions>
        <sui-comment-action>Reply</sui-comment-action>
      </sui-comment-actions>
    </sui-comment-content>
  </sui-comment>

  <sui-comment>
    <sui-comment-avatar src="http://semantic-ui.com/images/avatar/small/elliot.jpg" />
    <sui-comment-content>
      <a is="sui-comment-author">Elliot Fu</a>
      <sui-comment-metadata>
        <div>Yesterday at 12:30AM</div>
      </sui-comment-metadata>
      <sui-comment-text>
        <p>This has been very useful for my research. Thanks as well!</p>
      </sui-comment-text>
      <sui-comment-actions>
        <sui-comment-action>Reply</sui-comment-action>
      </sui-comment-actions>
    </sui-comment-content>
    <sui-comment-group>
      <sui-comment>
        <sui-comment-avatar src="http://semantic-ui.com/images/avatar/small/jenny.jpg" />
        <sui-comment-content>
          <a is="sui-comment-author">Jenny Hess</a>
          <sui-comment-metadata>
            <div>Just now</div>
          </sui-comment-metadata>
          <sui-comment-text>
            Elliot you are always so right :)
          </sui-comment-text>
          <sui-comment-actions>
            <sui-comment-action>Reply</sui-comment-action>
          </sui-comment-actions>
        </sui-comment-content>
      </sui-comment>
    </sui-comment-group>
  </sui-comment>
            </sui-comment-group>
          </sui-comment-group>
        </sui-modal-description>
      </sui-modal-content>
      <sui-modal-actions>
        <sui-button positive @click.native="toggle">
          OK
        </sui-button>
      </sui-modal-actions>
    </sui-modal>


    </sui-segment>

    <sui-segment raised id="eachpost">
      <a class="ui left corner label">
        <i class="heart icon"></i>
      </a>
      <br>
      <h2 class="ui header">
        <img src="http://semantic-ui.com/images/avatar2/large/molly.png" class="ui circular image">
        Molly
      </h2>
      <br>
      <div class="content">
        역시 영어가 많아야 간지가 나.
      </div>
      <div class="ui divider"></div>
      <i class="heart icon"></i>160 &nbsp
      <i class="comment outline icon"></i>21 &nbsp
      <i class="plus icon" ></i>더 보기
    </sui-segment>
    <sui-segment raised id="eachpost">
      <a class="ui left corner label">
        <i class="heart icon"></i>
      </a>
      <br>
      <h2 class="ui header">
        <img src="http://semantic-ui.com/images/avatar2/large/molly.png" class="ui circular image">
        Molly
      </h2>
      <br>
      <div class="content">
        역시 영어가 많아야 간지가 나.
      </div>
      <div class="ui divider"></div>
      <i class="heart icon"></i>160 &nbsp
      <i class="comment outline icon"></i>21 &nbsp
      <i class="plus icon" ></i>더 보기
    </sui-segment>
    <sui-segment raised id="eachpost">
      <a class="ui left corner label">
        <i class="heart icon"></i>
      </a>
      <br>
      <h2 class="ui header">
        <img src="http://semantic-ui.com/images/avatar2/large/molly.png" class="ui circular image">
        Molly
      </h2>
      <br>
      <div class="content">
        역시 영어가 많아야 간지가 나.
      </div>
      <div class="ui divider"></div>
      <i class="heart icon"></i>160 &nbsp
      <i class="comment outline icon"></i>21 &nbsp
      <i class="plus icon" ></i>더 보기
    </sui-segment>
    <sui-segment raised id="eachpost">
      <a class="ui left corner label">
        <i class="heart icon"></i>
      </a>
      <br>
      <h2 class="ui header">
        <img src="http://semantic-ui.com/images/avatar2/large/molly.png" class="ui circular image">
        Molly
      </h2>
      <br>
      <div class="content">
        역시 영어가 많아야 간지가 나.
      </div>
      <div class="ui divider"></div>
      <i class="heart icon"></i>160 &nbsp
      <i class="comment outline icon"></i>21 &nbsp
      <i class="plus icon" ></i>더 보기
    </sui-segment>


  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false
    }
  },
  methods: {
    toggle(){
      this.open = !this.open;
    }
  }
}
</script>

<style lang="css">
#modalcontent{
  font-size: 15px;
}
#eachpost{
  width: 70%;
  display: table;
  margin-left: 50px;

}
</style>
