<template lang="html">
  <div>
    <aside>
      <sui-card>
       <sui-dimmer-dimmable
         @mouseenter.native="cardOneActive = true"
         @mouseleave.native="cardOneActive = false"
         id="card">
         <sui-image src="http://semantic-ui.com/images/avatar/large/nan.jpg" />
         <sui-dimmer blurring :active="cardOneActive">
           <sui-button inverted>Subscription</sui-button>
         </sui-dimmer>
       </sui-dimmer-dimmable>
       <sui-card-content>
         <sui-card-header>Team Fu</sui-card-header>
         <sui-card-meta>Create in Sep 2014</sui-card-meta>
       </sui-card-content>
       <sui-card-content extra>
         <sui-icon name="users" /> 2 Members
         </sui-card-content>
     </sui-card>

     <button type="button" name="button" class="ui red button" id="postbutton">
       POST
     </button>
    </aside>
    <div >
      <sui-menu text class="ui red menu">
        <sui-menu-item header class="ui red item">Sort By</sui-menu-item>
        <a
          is="sui-menu-item"
          v-for="item in items"
          :key="item"
          :content="item"
          :active="isActive(item)"
          @click="select(item)"
        />
      </sui-menu>
      <router-view/>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        cardOneActive: false,
        cardTwoActive: false,
        items: ['Closest', 'Most Comments', 'Most Popular'],
        active: 'Closest',
      }
  },
  methods: {
      isActive(name) {
        return this.active === name;
      },
      select(name) {
        this.active = name;
      },
    },
  }
</script>

<style media="screen">
#postbutton{
  width: 100%;
}
.chcontent{
  width: 80%;
  padding-top: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
aside{
  display: inline-block;
  width: 20%;

  float: right;
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
}

</style>
