<template lang="html">
  <div class="mywrap">

    <div class="ui fluid icon red input" id="serch">
      <input type="text" placeholder="Search..." >
      <i class="circular search link red icon"></i>
    </div>

    <div class="ui items" id="list">
      <div class="item">
        <a class="ui tiny image">
          <img src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
        </a>

        <div class="content">
          <a class="header">
            <h2>Stevie Feliciano</h2>
          </a>
          <a class="ui image" id="star">
            <i class="star yellow big icon"></i>
          </a>
          <div class="description">
            <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
          </div>

        </div>

      </div>
      <div class="ui divider"></div>
      <div class="item">
        <a class="ui tiny image">
          <img src="http://semantic-ui.com/images/avatar/large/veronika.jpg">
        </a>
        <div class="content">
          <a class="header">
            <h2>Veronika Ossi</h2>
          </a>
          <a class="ui image" id="star">
            <i class="star yellow big icon"></i>
          </a>
          <div class="description">
            <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="item">
        <a class="ui tiny image">
          <img src="http://semantic-ui.com/images/avatar/large/jenny.jpg">
        </a>
        <div class="content">
          <a class="header">
            <h2>Jenny Hess</h2>
          </a>
          <a class="ui image" id="star">
            <i class="star outline yellow big icon"></i>
          </a>
          <div class="description">
            <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>
#serch{
  width: 30%;
}
#star{
  float: right;
}
.mywrap{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

</style>
