<template>
  <div id="app">

    <sui-grid-column :width= "4"
      class="ui left fixed red inverted menu"
      id="menu"
      v-if="sidebarState"
      >
      <sui-menu fluid vertical tabular   >

        <a
          v-for="item in items"
          :key="item"
          is="sui-menu-item"
          :content="item"
          :active="isActive(item)"
          @click="select(item)"

          />
      </sui-menu>
    </sui-grid-column>
    <Main class="main" />
  </div>
</template>

<script>
import Main from './components/Main.vue'
import { mapState } from 'vuex'
export default {
  name: 'App',
  data(){
    return{
      items: ['Home', 'Channel', 'My Channel', 'Random'],
      active: 'Bio',
      sidebarState: true,
    };
  },
  computed: mapState([
    'sidebarOpen'
  ]),
  components: {
    'Main': Main,
  },
  methods: {
    isActive(name) {
      return this.active === name;
    },
    select(name) {
      this.active = name;
      if(name == "Home"){
        this.$router.push('/');
      }
      else if(name== "My Channel"){
        this.$router.push('/my_channel');
      }
      else{
        this.$router.push('/'+name);
      }

    },
  }
}
</script>

<style>
.main{
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-left: 400px;
  max-width: 80%;
  min-width: 80%;
  background-size: cover;

}
#app {
  background: linear-gradient( 130deg,rgb(255, 255, 255), rgb(255, 253, 228 ));
  margin-top: 0;
  padding-top: 1px;
  padding-bottom: 100px;
  margin-right: 0;
  padding-right: 0;
}
#menu {
  min-height: 700px;
  min-width: 200px;
}
</style>
