<template>
  <div>
    <div class="title">
      <button type="button" name="button" @click="sidebarActive()">+</button>
        <img  class="ui large image" src="../assets/Sejong-eng.png">
    </div>

    <sui-grid id="wrap" >



      <div class="body">
        <router-view/>
      </div>
    </sui-grid>

  </div>
</template>


<script>


export default {
    name: 'TabularMenuExaple',
    methods: {
      sidebarActive (e) {
        this.$store.commit('toggleSidebar')
      }
    }

  };

</script>


<style media="screen">

#wrap {
  margin-top: 20px;

}
.item{
  text-align: left;
}
.title{
  margin-top: 30px;
  margin-left: 10px;

}
.body{
  padding-right: 0;
  margin-right: 0;
  min-height: 700px;
  background-color:white;
  min-width: 75%;
  max-width: 75%;
  height: 100%;
}
</style>
